<div class="banner-container">
  <%= image_tag("banner-home.jpg", alt: "Banner da NewAgain", class: "banner-img") %>
  <%= image_tag("logo-new-again.png", alt: "Logo da NewAgain", class: "logo") %>
</div>

<p class="paragrafo-home">O melhor lugar para comprar e vender roupas novas ou semi-novas!</p>

<% if user_signed_in? %>
  <div class="cta">
    <%= link_to 'Venda aqui', new_product_path, class: 'btn btn-success' %>
  </div>
<% else %>
  <div class="cta">
    <p>Cadastre-se ou faça login para começar a vender seus produtos.</p>
    <%= link_to 'Cadastrar-se', new_user_registration_path, class: 'btn btn-primary' %> |
    <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-secondary' %>
  </div>
<% end %>

<h2>Produtos em Destaque</h2>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="product-card">
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <p><strong>Preço:</strong> R$ <%= product.price %></p>
      <p><strong>Categoria:</strong> <%= product.category %></p>
      <p><strong>Tamanho:</strong> <%= product.size %></p>

      <% if product.image.attached? %>
      <%= image_tag product.image, class: 'product-image', alt: product.name %>
      <% else %>
        <p>Sem imagem disponível</p>
      <% end %>
      <%= link_to 'Ver Produto', product_path(product), class: 'btn btn-info' %>
      <%= button_to 'Comprar', orders_path(product_id: product.id), method: :post, class: 'btn btn-primary' %>
      <% if user_signed_in? && product.user == current_user %>
      <%= link_to 'editar', edit_product_path(product), class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
</div>
