<div class="banner-container">
  <%= image_tag("banner-home.jpg", alt: "Banner da NewAgain", class: "banner-img") %>
  <%= image_tag("logo-new-again.png", alt: "Logo da NewAgain", class: "logo") %>
</div>

<p class="paragrafo-home">O melhor marketplace de moda sustentável.</p>

<% if user_signed_in? %>
  <div class="cta">
    <%= link_to 'Começar a vender', new_product_path, class: 'btn btn-success venda-btn' %>
  </div>
<% else %>
  <div class="cta">
    <p>Compra e venda de roupas novas e semi-novas</p>
    <%= link_to 'Criar conta', new_user_registration_path, class: 'btn btn-primary conta-btn' %> |
    <%= link_to 'Fazer login', new_user_session_path, class: 'btn btn-secondary login-btn' %>
  </div>
<% end %>

<h2>Produtos em Destaque</h2>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="product-card">
      <a href="<%= product_path(product) %>" class="product-card__link">

        <div class="product-card__image">
          <% if product.photo.attached? %>
            <%= image_tag product.photo, class: 'product-image', alt: product.name %>
          <% else %>
            <p>Sem imagem disponível</p>
          <% end %>
        </div>

        <div class="product-card__info">
          <p class="product-card__price">R$ <%= product.price %></p>
          <p class="product-card__name"><%= product.name %></p>
          <p class="product-card__category"><%= product.category %></p>
        </div>

      </a>

      <div class="product-card__actions">
        <%= link_to 'Ver produto', product_path(product), class: 'btn btn-info custom-btn-info' %>
        <%= button_to 'Comprar', orders_path(product_id: product.id), method: :post, class: 'btn btn-buy' %>
        <% if user_signed_in? && product.user == current_user %>
          <%= link_to 'Editar', edit_product_path(product), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
